@import "./partials/variables.scss";

/* --------------
    vendor
--------------- */
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;700&display=swap');

/* --------------
    containers
--------------- */
.container  {
    width: 80%;
    margin: 0 auto;
}

.container-90 {
    width: 90%;
    margin: 0 auto;
}

/* --------------
    typography
--------------- */
body {
    line-height: 2;
}
/* --------------
    mix
--------------- */
body {
    font-family: $font-primary;
}

h5 {
    margin-bottom: 25px;
}

.footer__links {
    list-style: none;
    padding-left: 0;

    li {
    padding: 10px 0;

        a {
            color: $text-grey;
            font-weight: 500;
            text-decoration: none;
        }
    }
}