// fonts
$font-primary: 'Spartan', sans-serif;

// background colors
$background-primary: #FFFFFF;
$background-secondary: #FDFDFD;
$background-light-blue: #F2F7FF;
$background-dark-blue: #377DFF;
$background-dark: #1E1E1E;
$background-grey: #00000026;

// text colors
$text-primary: #000000;
$text-secondary: #000000E6;
$text-dark: #1E1E1E;
$text-light: #FFFFFF;
$text-green: #6CDAC1;
$text-orange: #FF796D;
$text-grey: #8E989F;
$text-blue: #377DFF;
$text-darkgrey: #495057;

// border colors 
$border-dark: #1E1E1E;
$border-light: #FFFFFF;
$border-lightblue: #EFF1FE;
$border-darkblue: #377DFF;
$border-grayscale-one: #00000008;
$border-grayscale-two: #0000000D;
$border-grayscale-three: #00000014;
